body {
  background-color: #333333;
}

.outer {
padding-top: 100px;
background-color: black;
margin: 20px;
box-shadow: 0 0 20px 10px #000000;
}

/*headers*/
.main {
  background-color: black;
  width: 680px;
  margin: 0 auto;

}
.changeColor {
  color: white;
  padding: 6px;
}
.fa {
  color: grey;
}
.header {
  display: flex;
  justify-content: space-between;
}
.save {
  width:100px;
  color: white;
  padding: 20px;
}

.man {
  height: 211px;
}

.plane {
  width: 440px;
}

.hand {
  height: 400px;
  flex
}

img {
  border: solid 6px black;
}

.title{
  color: white;
  display: flex;
  border-bottom: solid grey 1px;
  padding: 15px;
}

.dribble {
  padding-right: 15px;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  border-right: solid grey 1px;
}
